In [259]:
print("Hello, World!")

Hello, World!

In [260]:
print("Hello, World!")

Hello, World!

In [261]:
print("Hello, World!")

Hello, World!

In [262]:
import sys

print(sys.version)

3.13.1 (tags/v3.13.1:0671451, Dec  3 2024, 19:06:28) [MSC v.1942 64 bit (AMD64)]

In [263]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [264]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [265]:
#This is a comment
print("Hello, World!")

Hello, World!

In [266]:
print("Hello, World!") #This is a comment

Hello, World!

In [267]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [268]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [269]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [270]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [271]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [272]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [273]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [274]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

In [322]:
x = "John"
# is the same as
x = 'John'
print(x)

John

In [323]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [277]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [278]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [279]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [280]:
x = "Python is awesome"
print(x)

Python is awesome

In [281]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [282]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [283]:
x = 5
y = 10
print(x + y)

15

In [284]:
x = 5
y = "John"
print(x, y)

5 John

In [285]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [286]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [287]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [288]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [289]:
x = 5
print(type(x))

<class 'int'>

In [290]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [291]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [292]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [293]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [294]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [295]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [296]:
import random

print(random.randrange(1, 10))

9

In [297]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

In [298]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [299]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

s1
2
3.0

In [300]:
print("Hello")
print('Hello')

Hello
Hello

In [301]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [302]:
a = "Hello"
print(a)

Hello

In [303]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [304]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [305]:
b = "Hello, World!"
print(b[2:5])

llo

In [306]:
b = "Hello, World!"
print(b[:5])

Hello

In [307]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [308]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [309]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [310]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [311]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [312]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [313]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [314]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [315]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [316]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [317]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [318]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [319]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [320]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.